.header {
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
}

.header button {
    background: none;
    color: white;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 30%;
    max-width: 400px;
    border-right: 0.5px solid gray;
    background-color: var(--secondary-color);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    padding: 10px;
    animation-name: slide-open;
    animation-duration: 1s;
    animation-delay: -0.1s;
}

.close-btn {
    align-self: flex-end;
    margin: 20px;
    background: none;
}

details {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}

li {
    margin-bottom: 5px;
}


@media only screen and (max-width: 650px) {

    .sidebar {
        width: 100vw;
        min-height: 100vh;
        top: 0;
    }
}