.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
}

@media only screen and (max-width: 500px) {
 
    .form-container input, select {
        width: 90vw;
        min-width: 90vw;
        padding: 5px;
        margin-top: 20px;
    }
}