.loading {
    background-color: rgb(31, 90, 218);
    box-shadow: var(--shadow);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    text-align: center;
    width: 100%;
    animation-name: slider;
    animation-duration: 1s;
    animation-delay: -0.1s;
}

@media only screen and (max-width: 500px) {
    .loading {
        margin: 0px;
        width: 100%;
        border-radius: 0px;
        animation-name: slider-full;
        animation-duration: 1s;
        animation-delay: -0.1s;
    }
}


@keyframes slider {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

@keyframes slider-full {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}