.error-message,
.success-message {
    background-color: rgb(202, 10, 10);
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: 400px;
}

.success-message {
    background-color: rgb(13, 165, 13);
}