.error-message,
.success-message {
    background-color: rgb(202, 10, 10);
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: 400px;
    animation-name: slider;
    animation-duration: 1s;
    animation-delay: -0.1s;
}

.success-message {
    background-color: rgb(13, 165, 13);
}

@media only screen and (max-width: 500px) {

    .error-message,
    .success-message {
        margin: 0px;
        width: 100%;
        padding: 10px;
        border-radius: 0px;
        animation-name: slider-full;
        animation-duration: 1s;
        animation-delay: -0.1s;
    }
}

@keyframes slider {
    from {
        width: 0px;
    }

    to {
        width: 400px;
    }
}

@keyframes slider-full {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}